<div class="field">
    <%= f.label :phone_type%><br />
    <%= f.select :phone_type, options_for_select(["Select One", "Cell", "Work", "Home", "Other"],:disabled => ["Select One"])%>

  </div>
  <div class="field">
    <%= f.label :phone%><br />
    <%= f.text_field :phone%>
  </div>

<%= f.link_to_remove "Remove Phone" %>


