<div class="field">
    <%= f.label :phone_type%><br />
    <%= f.text_field :phone_type%>
  </div>
  <div class="field">
    <%= f.label :phone%><br />
    <%= f.text_field :phone%>
  </div>
<%= f.link_to_remove "Remove Phone" %>


