  
<div class="field">
  <%= f.label :username, "Username" %><br/>
  <%= f.text_field :username %>
</div> 
<!-- Ben, correct me if I'm wrong, but the change password link is for this stuff...
<div class="field">
  <%= f.label :password, "Password" %><br/>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation %>
</div>
-->
