<div class="field">
  <%= f.label :password, "Old Password" %><br/>
  <%= f.text_field :password%>
</div>
<div class="field">
  <%= f.label :password, "New Password" %><br/>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation %>
</div>

