<% content_for :title, "Medical Staffers" %>

<table class="index_table">
    <th><%= sortable "firstname", "First Name"%></th>
    <th><%= sortable "lastname", "Last Name"%></th>
    <th>Physician</th>
    <% if(is_admin) %>
    <th colspan="3"><input type="text" size="10" class="defaultText" value="Filter"></th>
    <% else %>
    <th><input type="text" size="10" class="defaultText" value="Filter"></th>
    <% end %>
  </tr>

<% @medical_staffs.each do |medical_staff| %>
<% phys_for_staffer = Physician.find_by_id(medical_staff.doc_id) %>
  <tr class="tr_body">
    <td><%= medical_staff.firstname %></td>
    <td><%= medical_staff.lastname %></td>
    <td><%= link_to "#{phys_for_staffer.lastname}, #{phys_for_staffer.firstname}", phys_for_staffer %></td>
    <td><%= link_to 'Show', medical_staff %></td>
    <% if is_admin %>
    <td><%= link_to 'Edit', edit_medical_staff_path(medical_staff) %></td>
    <td><%= link_to "&#215;".html_safe, medical_staff, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if(is_admin) %>
<%= link_to 'New Medical staff', new_medical_staff_path %>
<% end %>
