<p id="notice"><%= notice %></p>
<% content_for :title, "Medical Staff" %>

<p>
  <h2>
  <%= "#{@medical_staff.firstname} #{@medical_staff.middlename} #{@medical_staff.lastname} : #{@medical_staff.id}"%>
  </h2>
</p>

<p>
  <b>Physician:</b>
  <% physician = Physician.find_by_id(@medical_staff.doc_id )%>
  <% if (physician) %>
  <%= link_to "#{physician.firstname} #{physician.middlename} #{physician.lastname}", physician %>
  <% else %>
  None
  <% end %>
</p>

  <% @medical_staff.phones.each do  |phone| %>
    <%= render :partial => "phones/show", :locals => {:f => phone}%>
  <% end %>
  <% @medical_staff.emails.each do |email| %>
    <%= render :partial => "emails/show", :locals => {:f => email}%>
  <% end %>

<%= link_to 'Edit', edit_medical_staff_path(@medical_staff) %> |
<%= link_to 'Back', medical_staffs_path %>
