<%= nested_form_for(@physician) do |f| %>
  <% if @physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
      <% @physician.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname%><br />
    <%= f.text_field :firstname%>
  </div>
  <div class="field">
    <%= f.label :middlename%><br />
    <%= f.text_field :middlename%>
  </div>
  <div class="field">
    <%= f.label :lastname%><br />
    <%= f.text_field :lastname%>
  </div>
  <div class="field">
    <%= f.label :specialty %><br />
    <%= f.text_field :specialty %>
  </div>
  <div class="field">
    <%= f.label :office_num %><br />
    <%= f.text_field :office_num %>
  </div>
   <%= f.fields_for :login do |login| %>
	<%= render :partial => "logins/login_fields",:locals => { :f => login } %> 
   <% end %>

  <%= f.fields_for :addresses  do |address| %>
     <%= render "address_fields", :f => address %>
  <% end %>
<p><%= f.link_to_add "Add Address", :addresses%></p>

  <%= f.fields_for :phones do |phone|%>
    <%= render"phone_fields", :f => phone%>
  <% end %>
<p><%= f.link_to_add "Add Phone", :phones%></p>

  <%= f.fields_for :emails  %>
<p><%= f.link_to_add "Add Email", :emails %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
