<% content_for :title, "Physicians" %>

<table class="index_table">
  <tr>
    <th><%= sortable "id" %></th>
    <th><%= sortable "lastname", "Last Name" %></th>
    <th><%= sortable "firstname", "First Name"%></th>
    <th><%= sortable "office_num","Office Number"%></th>
    <th><%= sortable "specialty", "Specialty"%></th>
    <th colspan="3"></th>
  </tr>  </tr>

<% @physicians.each do |physician| %>
  <tr>
    <td><%= physician.id %></td>
    <td><%= physician.lastname %></td>
    <td><%= physician.firstname%></td>
    <td><%= physician.office_num %></td>
    <td><%= physician.specialty %></td>
    <td><%= link_to 'Show', physician %></td>
    <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
    <td><%= link_to  "&#215;".html_safe, physician, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Physician', new_physician_path %>
