<% content_for :title, "Physician" %>

<p id="notice"><%= notice %></p>

<p>
  <h2>
  <%= "#{@physician.firstname} #{@physician.middlename} #{@physician.lastname}"%>
  </h2>
</p>
<p>
  <b>Specialty:</b>
  <%= @physician.specialty %>
</p>

<p>
  <b>Office num:</b>
  <%= @physician.office_num %>
</p>

  <% @physician.addresses.each do |address|  %>
    <%= render :partial =>"addresses/show", :locals => {:f => address} %>
  <% end %>
  <% @physician.phones.each do  |phone| %>
    <%= render :partial => "phones/show", :locals => {:f => phone}%>
  <% end %>

  <% @physician.emails.each do |email|%>
    <%= render :partial => "emails/show", :locals => {:f => email}%>
  <% end %>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
