<% content_for :title, "Physician" %>

<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @physician.firstname%>
</p>
<p>
  <b>Middle name:</b>
  <%= @physician.middlename %>
</p>
<p>
  <b>Last name:</b>
  <%= @physician.lastname%>
</p>
<p>
  <b>Specialty:</b>
  <%= @physician.specialty %>
</p>

<p>
  <b>Office num:</b>
  <%= @physician.office_num %>
</p>


<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
