<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :datetimepicker_start, "Start Date/Time" %>
    <%= f.text_field :start_time, {:id => 'schedule_datetimepicker_start'} %>
  </div>
  <div class="field">
    <%= f.label :datetimepicker_end, "End Date and Time" %>
    <%= f.text_field :end_time, {:id => 'schedule_datetimepicker_end'} %>
  </div>
  <div class="field">
    <% #TODO: Pull this out of the session for the currently logged in phys. If this isn't a physician viewing, they shouldn't have access to the page in the first place. %>
    <%= f.label :phy_id, "Physician" %><br />
    <%= f.number_field :phy_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
