<% phys_for_sch = Physician.find_by_id(@schedule.phy_id) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @schedule.start_time.strftime("%m/%d/%Y %I:%M %p") %>
</p>

<p>
  <b>End time:</b>
  <%= @schedule.end_time.strftime("%m/%d/%Y %I:%M %p") %>
</p>

<p>
  <b>Phyisican:</b>
  <%= link_to "#{phys_for_sch.lastname}, #{phys_for_sch.firstname}", phys_for_sch %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
