<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if(@bill.phys_id) %>
  <div class="field">
    <%= f.label "Physician" %><br />
    <%= f.select("phys_id", Physician.all.collect {|p| [ "#{p.lastname}, #{p.firstname}", p.id ] }, {:include_blank => 'None'})%>
  </div>
  <% end %>
  <% if(@bill.medstaff_id) %>
  <div class="field">
    <%= f.label "Medical Staffer" %><br />
    <%= f.select("medstaff_id", MedicalStaff.all.collect {|p| [ "#{p.lastname}, #{p.firstname}", p.id ]}, {:include_blank => 'None'})%>
  </div>
  <% end %>
  <div class="field">
    <%= f.label "Patient" %><br />
    <%= f.select("pat_id", Patient.all.collect {|p| [ "#{p.lastname}, #{p.firstname}", p.id ]}, {:include_blank => 'None'})%>
  </div>

  <div class="field">
    <%= f.label :unique_hash %><br />
    <%= f.text_field :unique_hash %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :insurance_coverage %><br />
    <%= f.text_field :insurance_coverage %>
  </div>
  <div class="field">
    <%= f.label :payment %><br />
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :codes %><br />
    <%= f.text_field :codes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
