<% content_for :title, "Bills" %>

<table class="index_table">
  <tr>
    <th>Id</th>
    <th>Patient</th>
    <th>Status</th>
    <th>Price</th>
    <th>Insurance coverage</th>
    <th colspan="3"><input type="text" size="10" class="defaultText" value="Filter"></th>
  </tr>

<% @bills.each do |bill| %>
<% pat_for_bill = Patient.find_by_id(bill.pat_id) %>
  <tr>
    <td><%= bill.id %></td>
    <td><%= link_to "#{pat_for_bill.lastname}, #{pat_for_bill.firstname}", pat_for_bill %></td> 
    <td><%= bill.status %></td>
    <td><%= number_to_currency bill.price %></td>
    <td><%= number_to_currency bill.insurance_coverage %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_bill_path %>
