<% content_for :title, "Showing Bill" %>

<p id="notice"><%= notice %></p>

<div class="bill">
<% phys = Physician.find_by_id(@bill.phys_id) if(@bill.phys_id) %>
<% medstaff = MedicalStaffs.find_by_id(@bill.medstaff_id) if(@bill.medstaff_id) %>
<% pat = Patient.find_by_id(@bill.pat_id) if (@bill.pat_id) %>
<h1><%= "Bill for #{pat.firstname} #{pat.lastname}" %></h1>
<p>
  <b>Bill Service Number:</b> <%= @bill.id %><br/>
  <b>Billing Address:</b>
  <% if pat.addresses %>
  <% add = pat.addresses[0] %>
  <%= "#{add.street}, #{add.city} #{add.state}. #{add.zip}" %><br/>
  <% else %>
  Unavailable<br/>
  <% end %>
  <b>Appointment Date:</b> <%= @bill.date %><br/>
  <b>Appointment Time:</b> <%= @bill.time.strftime("%I:%M %p") %><br/>
  <% if phys %>
  <b>Physician:</b> <%= "#{phys.lastname}, #{phys.firstname}" %><br/>
  <% elsif medstaff %>
  <b>Medical Staff:</b> <%= "#{medstaff.lastname}, #{medstaff.firstname}" %><br/>
  <% else %>
  <b>Serviced by:</b> Unavailable<br/>
  <% end %>
  <b>Appointment Services:</b> <%= @bill.codes %><br/>
  <b>Total Cost of Services:</b> <%= number_to_currency @bill.price %><br/>
  <b>Total Covered by Insurance:</b> <%= number_to_currency @bill.insurance_coverage %><br/>
  <b>Subtotal Remaining:</b> <%= number_to_currency(@bill.price - @bill.insurance_coverage) %><br/>
  <b>Amount Currently Paid:</b> <%= number_to_currency @bill.payment %><br/><hr/><br/>
  <h2>Total Amount Remaining: <%= number_to_currency(@bill.price - @bill.insurance_coverage - @bill.payment) %><h2>
</div>
<br/><br/><br/>
<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
