<%= nested_form_for @patient do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :firstname%><br />
    <%= f.text_field :firstname%>
  </div>
  <div class="field">
    <%= f.label :middlename%><br />
    <%= f.text_field :middlename%>
  </div>
  <div class="field">
    <%= f.label :lastname%><br />
    <%= f.text_field :lastname%>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>


  <div class="field">
    <%= f.label "Primary Physician" %><br />
    <%= f.select("primary_phy_id", Physician.all.collect {|p| [ "#{p.lastname}, #{p.firstname}", p.id ] }, {:include_blank => 'None'})%>
  </div>
  
  <div class="field">
    <%= f.label "Secondary Physician" %><br />
    <%= f.select("second_physician_id", Physician.all.collect {|p| [ "#{p.lastname}, #{p.firstname}", p.id ] }, {:include_blank => 'None'})%>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :pharmacy_id, :value => "Preferred Pharmacy" %><br />
    <%= f.number_field :pharmacy_id %>
  </div>
  <div class="field">
    <%= f.label :insurance_id %><br />
    <%= f.number_field :insurance_id %>
  </div>
  <%= f.fields_for :addresses %>
<p><%= f.link_to_add "Add Address", :addresses%></p>

   <%= debug "here" %>
   <% f.fields_for :emergency_contact do |contact| %>

     <%= render :partial => '/emergency_contacts/emergency_contact', :locals => { :f => contact } %>
  <% end %>
  <%= f.fields_for :emails  %>
<p><%= f.link_to_add "Add Email", :emails %></p>

  <%= f.fields_for :phones  %>
<p><%= f.link_to_add "Add a Phone", :phones %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
