<% content_for :title, "Patients" %>

<table class="index_table">
  <tr>
    <th><%= sortable "firstname", "First Name"%></th>
    <th><%= sortable "lastname", "Last Name"%></th>
    <th><%= sortable "gender", "Gender" %></th>
    <th>Primary Physician</th>
    <th><%= sortable "date_of_birth", "Date of birth"%> </th>
    <th colspan="3"></th>
  </tr>

<% #A little logic to determine what patients to display %>
<% patients = nil %>
<% if(is_admin) %>
   <% patients = @patients %>
<% elsif(is_phys) %>
   <% patients = Patient.where(:primary_phy_id => current_user.id) %>
<% elsif(is_medstaff) %>
   <% patients = Patient.where(:primary_phy_id => current_user.doc_id) %>
<% end %>
<% patients.each do |patient| %>
<% phys_for_pat = Physician.find_by_id(patient.primary_phy_id) %>
  <tr>
    <td><%= patient.firstname %></td>
    <td><%= patient.lastname %></td>
    <td><%= patient.gender %></td>
    <td><%= link_to "#{phys_for_pat.lastname}, #{phys_for_pat.firstname}", phys_for_pat %></td>
    <td><%= patient.date_of_birth %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to "&#215;".html_safe, patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
