<% content_for :title, "Patients" %>

<table class="index_table">
  <tr>
    <th>Primary phy</th>
    <th>Date of birth</th>
    <th>Pharmacy ID</th>
    <th>Insurance ID</th>
    <th colspan="3">Operations</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.primary_phy_id %></td>
    <td><%= patient.date_of_birth %></td>
    <td><%= patient.pharmacy_id %></td>
    <td><%= patient.insurance_id %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to "&#215;".html_safe, patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
