<% content_for :title, "Patients" %>

<table class="index_table">
  <tr>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Last Name</th>
    <th>Primary Physician</th>
    <th>Date of birth</th>
    <th>Pharmacy ID</th>
    <th>Insurance ID</th>
    <th colspan="3">Operations</th>
  </tr>

<% @patients.each do |patient| %>
<% phys_for_pat = Physician.find_by_id(patient.primary_phy_id) %>
  <tr>
    <td><%= patient.firstname %></td>
    <td><%= patient.middlename %></td>
    <td><%= patient.lastname %></td>
    <td><%= link_to "#{phys_for_pat.lastname}, #{phys_for_pat.firstname}", phys_for_pat %></td>
    <td><%= patient.date_of_birth %></td>
    <td><%= patient.pharmacy_id %></td>
    <td><%= patient.insurance_id %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to "&#215;".html_safe, patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
