<% content_for :title, "Patient" %>
<% phys_for_pat = Physician.find_by_id(@patient.primary_phy_id) %>

<p id="notice"><%= notice %></p>
<p>
  <b>First name:</b>
  <%= @patient.firstname%>
</p>
<p>
  <b>Middle name:</b>
  <%= @patient.middlename%>
</p>
<p>
  <b>Last name:</b>
  <%= @patient.lastname%>
</p>

<p>
  <b>Primary Phyisican:</b>
  <%= link_to "#{phys_for_pat.lastname}, #{phys_for_pat.firstname}", phys_for_pat %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @patient.date_of_birth %>
</p>

<p>
  <b>Pharmacy:</b>
  <%= @patient.pharmacy_id %>
</p>

<p>
  <b>Insurance:</b>
  <%= @patient.insurance_id %>
</p>

  <% @patient.addresses.each do |address|  %>
    <%= render :partial =>"addresses/show", :locals => {:f => address} %>
  <% end %>
  <% @patient.phones.each do  |phone| %>
    <%= render :partial => "phones/show", :locals => {:f => phone}%>
  <% end %>

  <% @patient.emails.each do |email|%>
    <%= render :partial => "emails/show", :locals => {:f => email}%>
  <% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
