<div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
<div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
<%= f.link_to_remove "Remove Address" %>

