<%= nested_form_for(@administrator) do |f| %>
  <% if @administrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrator.errors.count, "error") %> prohibited this administrator from being saved:</h2>

      <ul>
      <% @administrator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.fields_for :logins do |login| %>
        <%= render :partial => "logins/login_fields",:locals => { :f => login } %>
   <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>
