<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datetimepicker_start, "Start Date/Time" %>
    <%= f.text_field :start_time, {:id => 'appointment_datetimepicker_start'} %>
  </div>
  <div class="field">
    <%= f.label :datetimepicker_end, "End Date and Time" %>
    <%= f.text_field :end_time, {:id => 'appointment_datetimepicker_end'} %>
  </div>
  <div class="field">
    <%= f.label :phy_id, "Physician" %><br />
    <%= f.select("phy_id", Physician.all.collect {|p| [ "#{p.lastname}, #{p.firstname}", p.id ] }, {:include_blank => 'None'})%>
  </div>
  <div class="field">
    <%= f.label :pat_id, "Patient" %><br />
    <%= f.select("pat_id", Patient.all.collect {|p| [ "#{p.lastname}, #{p.firstname}", p.id ] }, {:include_blank => 'None' }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
