<table class="index_table">
  <tr>
    <th><%= sortable "start_time", "Start time"%></th>
    <th><%= sortable "end_time", "End time"%></th>
    <th>Physician</th>
    <th>Patient</th>
    <th colspan="3"><input type="text" size="10" class="defaultText" value="Filter"></th>
  </tr>

<% #A little logic to determine which appointments to display %>
<% appointments = nil %>
<% if(is_admin) %>
   <% appointments = apps %>
<% elsif(is_phys) %>
  <%if pat_id.nil? %>
    <% appointments = Appointment.where(:phy_id => current_user.id) %>
  <% else %>
    <% appointments = Appointment.where(:phy_id => current_user.id, :pat_id => pat_id) %>
  <% end %>
<% elsif(is_medstaff) %>
   <% appointments = Appointment.where(:phy_id => current_user.doc_id) %>
<% end %>
<% appointments.each do |appointment| %>
<% phys_for_apt = Physician.find_by_id(appointment.phy_id) %>
<% pat_for_apt = Patient.find_by_id(appointment.pat_id) %>

  <tr class="tr_body">
    <td><%= appointment.start_time.strftime("%m/%d/%Y %I:%M %p") %></td>
    <td><%= appointment.end_time.strftime("%m/%d/%Y %I:%M %p") %></td>
    <% if phys_for_apt %>
    <td><%= link_to "#{phys_for_apt.lastname}, #{phys_for_apt.firstname}", phys_for_apt %></td>
    <% else %>
    <td>None</td>
    <% end %>
    <% if pat_for_apt %>
    <td><%= link_to "#{pat_for_apt.lastname}, #{pat_for_apt.firstname}", pat_for_apt %></td>
    <% else %>
    <td>None</td>
    <% end %>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to "&#215".html_safe, appointment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
