<% content_for :title, "Appointment" %>
<% phys_for_apt = Physician.find_by_id(@appointment.phy_id) %>
<% pat_for_apt = Patient.find_by_id(@appointment.pat_id) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @appointment.start_time.strftime("%m/%d/%Y %I:%M %p") %>
</p>

<p>
  <b>End time:</b>
  <%= @appointment.end_time.strftime("%m/%d/%Y %I:%M %p") %>
</p>

<p>
  <b>Physician:</b>
  <% if phys_for_apt %>
  <%= link_to "#{phys_for_apt.lastname}, #{phys_for_apt.firstname}", phys_for_apt %>
  <% else %>
  None
  <% end %>
</p>

<p>
  <b>Patient:</b>
  <% if pat_for_apt %>
  <%= link_to "#{pat_for_apt.lastname}, #{pat_for_apt.firstname}", pat_for_apt %>
  <% else %>
  None
  <% end %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
