<div class="field">
    <%= f.label :email_type%><br />
    <%= f.select :email_type, options_for_select(["Select One", "Work", "Home", "Other"],:disabled => ["Select One"])%>
  </div>
  <div class="field">
    <%= f.label :email%><br />
    <%= f.text_field :email%>
  </div>
<%= f.link_to_remove "Remove Email" %>


