<!DOCTYPE html>
<html>
  <head>
    <title>Agas</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application"  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header" class="header">
      <h1 class="agas" onclick="location.href='/'">AGAS</h1><h1 class="title"><%=h yield(:title) %></h1>
      <p>
        <%=
           unless current_login.nil?
           
           if (is_phys)
           link_to("#{current_user.firstname} #{current_user.lastname}", current_user, {:id => "header_link"})
        elsif (is_admin)
        link_to("#{current_user.name}", current_user, {:id => "header_link"})
        elsif (is_medstaff)
        link_to("#{current_user.firstname} #{current_user.lastname}", current_user, {:id => "header_link"})
        end
        end
        %>
        
        <%= if current_login.nil?  
            link_to("Login", log_in_path, {:id => "header_link"})
        else
        link_to("Log out", log_out_path, {:id => "header_link"})
        end%>
      </p>
    </div>
    <div class="nav_container">
      <span class="nav" style="padding-top:60px;">
        <% if(is_admin) #links for administrators %>
        
        <%= link_to("Physicians", physicians_path) %> | 
        <%= link_to("Medical Staffers", medical_staffs_path) %> |
        <%= link_to("Patients", patients_path) %> |
        <%= link_to("Administrators", administrators_path) %> |
        <%#TODO: link_to("Health Prices", health_prices_path) %>
        <%= link_to("Appointments", appointments_path)%> |
        <%= link_to("Schedules", schedules_path)%> |
        <%= link_to("Bills", bills_path)%>
        
        <% elsif(is_phys) #links for physicians %>
        <% ##### Make these all dynamic so only show info for this physician. E.G., appointments only for this physicians patients. %>
        <%= link_to("Medical Staffers", medical_staffs_path) %> |
        <%= link_to("Patients", patients_path) %> |
        <%= link_to("Appointments", appointments_path)%> |
        <%= link_to("Schedules", schedules_path)%>
        
        <% elsif(is_medstaff) #links for medical staff %>
        <% ###### Make these all dependent. So only show patients for this staffers associated physician. %>
        <%= link_to("Patients", patients_path) %> |
        <%= link_to("Appointments", appointments_path)%> |
        <%= link_to("Schedule", schedules_path)%>
        
        <% end %>
      </span>
    </div>
    <div class="body_container">
      <span id="body" class="body">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
