<!DOCTYPE html>
<html>
<head>
  <title>Agas</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" class="header">
<h1 class="agas" onclick="location.href='/'">AGAS</h1><h1 class="title"><%=h yield(:title) %></h1>
<p>
<%=
    unless current_login.nil?
      
      if current_login_type == "Physician"
        link_to("#{current_user.firstname} #{current_user.lastname}", current_user, {:id => "header_link"})
      elsif current_login_type == "Administrator"
        link_to("#{current_login.username}", current_user, {:id => "header_link"})
      end
    end
%>

<%= if current_login.nil?  
     link_to("Login", log_in_path, {:id => "header_link"})
    else
      link_to("Log out", log_out_path, {:id => "header_link"})
end%>
</p>
 </div>
 <div class="nav" style="padding-top:60px;">
   <%= link_to("Physicians", physicians_path) %> | 
   <%= link_to("Patients", patients_path) %> |
   <%= link_to("Appointments", appointments_path)%> |
   <%= link_to("Schedule", schedules_path)%> |
   <%= link_to("Generate Bill", new_bill_path)%>
 </div>
<div id="body" class="body">
<%= yield %>
</div>

</body>
</html>
